<mat-toolbar color="primary">
  <span>ממשק להעלאת תמונות</span>
</mat-toolbar>

<div class="container">
  <mat-card class="image-card">
    <mat-card-content>
      <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>

      <div *ngIf="imageUrl" class="image-container">
        <img [src]="imageUrl" alt="There is a problem displaying the image." />
      </div>
    </mat-card-content>
  </mat-card>

  <div class="upload-container">
    <input type="file" id="fileInput" (change)="onFileChange($event)" hidden #fileInput />
    <button mat-raised-button color="accent" (click)="fileInput.click()">
      בחר תמונה
    </button>
  </div>
</div>